<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" routerLink="">{{title}}</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="console" routerLinkActive="active" class="nav-link">Console</a>
      </li>
      <li class="nav-item">
        <a routerLink="new" routerLinkActive="active" class="nav-link">Nouvelle Console</a>
      </li>
    </ul>

  </div>

</nav>


<router-outlet></router-outlet>

